<p class="form-header">Log in to continue to <span>Troubadour Hostel</span></p>


<div id="form-container">
  <p>Log in with Google</p>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <p> - or - </p>
  <form action="/sessions" method="POST">
    <label for="user_username">Username</label>
    <input type="text" name="user[username]" placeholder="nick.for.president">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" placeholder="12345">
    <span class="error"><%= @error %></span>
    <input type="submit" value="Log in">
  </form>
  <a href="/users/new">Create an account</a>
</div>
