<p class="form-header">Sign up to continue to <span>Troubadour Hostel</span></p>
<div id="form-container">
  <p>Sign up with Google</p>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <p> - or - </p>

  <form action="/users" method="POST">
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" value="<%= @user.email %>" placeholder="you@example.org">
    <label for="user_password">Password</label>
    <input type="text" name="user[password]" placeholder="12345">
    <span class="error"><%= @error %></span>
    <input type="submit" value="Sign up">
  </form>
  <a href="/sessions/new">Sign in</a>
</div>
