<section class="post">
  <header class="post-header">
    <h2 class="post-title">Spencer said...</h2>
      <img class="post-avatar" alt="Spencer&#x27;s avatar" height="48" width="48" src="https://lh3.googleusercontent.com/-9BGuPJjlqxI/AAAAAAAAAAI/AAAAAAAAA48/rn4SgUqVOs0/s120-c/photo.jpg">


      <p class="post-meta">
          Artist Page:  <a href="http://www.spencerrohan.com" target="_blank" class="post-author">SpencerRohan.com</a>
      </p>
  </header>

  <div class="post-description">
      <p>
          This was not only an amazing stay but was great to really meet other artists under one roof! I would suggest to any artist type to stay at this wonderful place! Five STARS!!
      </p>
  </div>
  </section>


   <section class="post">
                    <header class="post-header">
                      <h2 class="post-title">Nick said...</h2>
                        <img class="post-avatar" alt="Nick&#x27;s avatar" height="48" width="48" src="https://avatars3.githubusercontent.com/u/1075981?v=3&s=460">


                        <p class="post-meta">
                            Artist Page:  <a href="http://www.espn.com" target="_blank" class="post-author">Nicklenotaspellingerrorads.com</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            This was not only an amazing stay but was great to really meet other artists under one roof! I would suggest to any artist type to stay at this wonderful place! Five STARS!!
                        </p>
                    </div>
                </section>
