<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h2 class="troubadour">Troubadour</h2>
            <h2 class="hostel">HOSTEL</h2>
            <h2 class="brand-tagline">Chicago's Premiere Artist Hostel.</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/sessions/new">LOGIN</a>
                    </li>
                     <li class="nav-item">
                        <a class="pure-button" href="/reservations/new">MAKE A RESERVATION</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Reviews</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                      <h2 class="post-title">Spencer said...</h2>
                        <img class="post-avatar" alt="Spencer&#x27;s avatar" height="48" width="48" src="https://lh3.googleusercontent.com/-9BGuPJjlqxI/AAAAAAAAAAI/AAAAAAAAA48/rn4SgUqVOs0/s120-c/photo.jpg">


                        <p class="post-meta">
                            Artist Page:  <a href="http://www.spencerrohan.com" target="_blank" class="post-author">SpencerRohan.com</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            This was not only an amazing stay but was great to really meet other artists under one roof! I would suggest to any artist type to stay at this wonderful place! Five STARS!!
                        </p>
                    </div>
                </section>

                <section class="post">
                    <header class="post-header">
                      <h2 class="post-title">Nick said...</h2>
                        <img class="post-avatar" alt="Nick&#x27;s avatar" height="48" width="48" src="https://avatars3.githubusercontent.com/u/1075981?v=3&s=460">


                        <p class="post-meta">
                            Artist Page:  <a href="http://www.espn.com" target="_blank" class="post-author">Nicklenotaspellingerrorads.com</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            This was not only an amazing stay but was great to really meet other artists under one roof! I would suggest to any artist type to stay at this wonderful place! Five STARS!!
                        </p>
                    </div>
                </section>
            </div>
<!--               <form class="pure-form">

                <fieldset class="pure-group">
                    <textarea class="pure-input-1-2" placeholder="Textareas work too"></textarea>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Write a Review</button>
              </form> -->

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="/reservations/new" class="pure-menu-link">Reservations</a></li>
                        <li class="pure-menu-item"><a href="/kickstarter" class="pure-menu-link">Kickstarter</a></li>
                        <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>