<!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->

<div class ="clear gold title debug">
  <div class="container sdebug">
    <div class="center tx-center sdebug">
    <img class="logo debug" src="imgs/logo.png">
  </div>
  </div>
</div>

