<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="google-signin-client_id" content="410653360880-o19g86s99imsh49e7dk5erddbnfofc8n.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <link rel="stylesheet" href="/css/new.css">
  <link rel="stylesheet" href="/css/pure-min.css">
  <link rel="stylesheet" href="/css/grids-responsive-min.css">

<!--<![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/new.js"></script>
  <script src="/js/google.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Traoubadour Hostel</title>
</head>
<body>
  <%= yield %>
</body>
</html>
